/* add css module styles here (optional) */
.tab-content {
  width: 100%;
  -ms-overflow-style: none; /*IE 11*/
  overflow: -moz-scrollbars-none; /*FF*/
}
.tab-content::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
}
.tab-content > * {
  min-width: 100%;
}
.tab-link {
  cursor: pointer;
}
