/* add css module styles here (optional) */
.tab-content,
.tab-nav {
  -ms-overflow-style: none; /*IE 11*/
  overflow: -moz-scrollbars-none; /*FF*/
  scrollbar-width: none; /*FF*/
}
.tab-content::-webkit-scrollbar,
.tab-nav::-webkit-scrollbar {
  display: none;
}
.tab-content > * {
  min-width: 100%;
  min-height: 100%;
}
